<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="settings"
             type="Mentoring.Lab5.App.Configuration.SettingsConfigurationSection, Mentoring.Lab5.App"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <settings culture="">
    <directories>
      <directory path="D:\\Tests" />
    </directories>
    <rules defaultDirectoryPath="D:\\Tests\OutputDirectory">
      <rule filePattern="test*" destinationDirectory="D:\\Tests\Files" serialNumberEnable="true" movingDateEnable="true" />
    </rules>
  </settings>
</configuration>